@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.forgot-container {
    background-color: #343432;
    height: 100vh;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-details {
    position: absolute;
    top: 18%;
    left: 17%;
    display: flex;
    width: 61%;
    height: 30vmax;
    background-color: white;
    /* Inner div background color */
    padding: 0.5vmax;
    border-radius: 10px;
    /* Rounded corners for the inner div */
    -webkit-box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
    -moz-box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
    box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
}

.forgot-details > .forgot-left-section {
    flex:1;
    overflow: hidden;
    padding:1vmax;
}

.forgot-details> .forgot-left-section img {
    width: 32vmax;
    height: 32vmax;
    margin: 0;

}


.forgot-details>.forgot-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    overflow: hidden;
    padding-left: 1vmax;;
}
.forgot-details>.forgot-right-section>form >h2 {
    text-align: center;
    font-size: 2.5vmax;
    padding-bottom:2vmax;
    cursor: pointer;
    letter-spacing: 1px;
}

/* Additional styling for form inputs and button if needed */
.forgot-details form input[type="email"] {
    width: 22vmax;
    margin-left:2vmax;
    padding: 0.8vmax;
    margin-bottom: 1.5vmax;
    border: 1px solid #A8A196;
    border-radius: 5px;
    height: 1.8vmax;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
}

input::placeholder {
    font-size: 1.2vmax;
}

.forgot-details> .forgot-right-section >form >.submitBtn {
    font-size: 1.5vmax;
    margin-left:2vmax;
    width: 24vmax;
    height: 3.4vmax;
    background-color: #75C2F6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth background color transition on hover */
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
    opacity: 0;

}

.forgot-details >form >button:hover {
    background-color: #555;
}

.error-message {
    font-size: 1vmax;
    color: darkred;
    letter-spacing: 1px;
    padding-top: 1vmax;
}


/* OTP */
.forgot-details > .otp-left-section {
   flex:1;
    overflow: hidden;
    padding:1vmax;
}

.forgot-details>  .otp-left-section img {
    width: 32vmax;
    height: 32vmax;

}

.forgot-details>.otp-right-section {
   flex:1;
   display: flex;
   margin-left:3vmax;
   align-items: center;
    overflow: hidden;
}

.forgot-details>.otp-right-section>form >h2 {
    text-align: center;
    font-size: 2.5vmax;
    padding-bottom:2.5vmax;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top:1vmax;
}
.otp-right-section >form >p{
    font-size:1.3vmax;
}

.forgot-details>.otp-right-section>form>.otp{
    display:inline-flex;
    padding:2.5vmax 0;
}

.forgot-details form .otp> input[type="text"]{
    width:1vmax;
    height:1.2vmax;
    padding:1vmax;
    margin-right:1vmax;
    background-color: #F0ECE5;
    border: 1px solid #B0A695;
    border-radius: 4px;
}
.forgot-details>.otp-right-section>form > .resend-otp{
    display: flex;
  align-items: center;
  justify-content: space-between;
    margin-bottom:1.5vmax;
    width:95%;
   

}
.resend-otp >p{
    font-size: 1.3vmax;
}
.resend-otp> button{
    background:transparent;
    border:none;
    font-size: 1.2vmax;
    cursor: pointer;
    text-decoration: underline;
}
 .forgot-details >.otp-right-section > form >.submitBtn{
   font-size: 1.5vmax;
    width: 24vmax;
    height: 3.4vmax;
    background-color: #75C2F6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth background color transition on hover */
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
    opacity: 0;
} 
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}