@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.reset-container {
    background-color: #343432;
    /* background-color: #F6F1F1; */

    height: 100vh;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-details {
    position: absolute;
    top: 16%;
    left: 16%;
    display: inline-flex;
    justify-content: space-between;
    width: 68%;
    height: 32vmax;
    background-color: white;
    /* Inner div background color */
    padding: 20px;
    border-radius: 10px;
    /* Rounded corners for the inner div */
    -webkit-box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
    -moz-box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
    box-shadow: 9px 13px 23px -12px rgba(235, 195, 235, 1);
}

.reset-left-section {
    width: 100%;
    padding-right: 3vmax;
}

.reset-left-section img {
    width: 36vmax;
    height: 33vmax;
    margin: 0;

}

.reset-password-right-section>h2 {
    font-size: 2.8vmax;
    padding-left: 0;
    font-family: 'Bad Script', cursive;
    cursor: pointer;

}

.reset-password-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.reset-form-fields {
    height: 15.5vmax;
   
}

form>.reset-show-password{
    color:#61677A;
    width:2vmax;
   position:relative;
   right:2.8vmax;
   top:1vmax;
    transform: translateY(-50%); /* Center the icon vertically */
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
    opacity: 0;
}
form>.eye-icon-btn>.reset-show-password-icon:hover {
    background-color: none;
    border: none;

}

/* Additional styling for form inputs and button if needed */
.reset-details form input {
    width: 24vmax;
    padding: 0.8vmax;
    margin-bottom: 1.4vmax;
    position: relative; 
    border: 1px solid #A8A196;
    border-radius: 5px;
    height: 1.8vmax;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
    opacity: 0;
}

input::placeholder {
    font-size: 1.2vmax;
}


.reset-details form .submitBtn {
    font-size: 1.5vmax;
    width: 26vmax;
    height: 3.4vmax;
    background-color: #75C2F6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth background color transition on hover */
    animation: fadeIn 0.5s ease-in-out;
    /* Apply the animation to all paragraphs */
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
    opacity: 0;

}

.reset-details form button:hover {
    background-color: #555;
    /* Background color on hover */
}


.error-message {
    font-size: 1vmax;
    color: darkred;
    letter-spacing: 1px;
    padding-top: 1vmax;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}