@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Varela&display=swap');
*{
    overflow: hidden;
}
:root {
    --main-primary-color: #FDE5EC;
}
.container{
    width:100%;
    height:4.2vmax;
    /* background-color: #C08261; */
    background-color: #171717;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.logo >h2 >a{
  text-decoration: none;
text-align: center;
color:#FDE5EC;
font-family: 'Bad Script', cursive;
font-size: 1.8vmax;
padding-left:2vmax;
cursor: pointer;
letter-spacing: 2.5px;
}

.links ul{
    /* padding-top: 0.5vmax; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    list-style: none;
}
.links ul li a{
    text-decoration: none; /* Remove underline */
  padding-right: 0.6vmax;
  color:whitesmoke; /* Set text color */
  margin-right: 2vmax;
  font-family: 'Varela', sans-serif;
  font-weight: 600;
  font-size: 1.2vmax;
  background-image: linear-gradient(#E2C799, #E2C799);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
  letter-spacing: 1px;
}
.links ul li a:hover{
    background-size: 100% 5px, auto;    
}
 .sign-in-div{
    margin-right: 2vmax;
    background-color: transparent;
    border-radius: 4px; 
    border: 1.5px solid #FDE5EC;
    padding: 0.4vmax 1vmax; 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sign-in-div > .login-btn {
    color:#FDE5EC; 
    font-family: 'Varela', sans-serif;
    font-weight: 600;
    font-size: 1.2vmax;
       text-decoration: none; /* Remove underline */
       transition: background-color 0.3s ease; /* Smooth background color transition on hover */
} 

/* SignInStyles.css */

  
  .sign-in-div:hover {
    background-color: #FDE5EC; /* Background color on hover */
  }
  .login-btn:hover{
    color: #C08261;
  }
  
